<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Christophe Hamerling</title>
	<meta name="description" content="">
	<meta name="author" content=""><!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]--><!--//-->
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
	<style type="text/css">body{padding-top:60px;}</style>
	<!--
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	-->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25231338-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>

	<body>
		<div class="topbar">
			<div class="fill">
				<div class="container">
					<a class="brand" href="#">C. Hamerling</a>
					<ul class="nav">
						<li class="active"><a href="#">A propos</a></li>
						<li><a href="http://chamerling.org/contact" target="_blank">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		
		<div class="container">
			{{content}}
			
			<footer><p>&copy; Christophe Hamerling - 2011</p></footer>
		</div>
	</body>
</html>